page-forgot-password {
    .text-container {
        padding: 0 40px;
        text-align: center;

        h4 {
            margin-bottom: 2.6rem;
            margin-top: 1.6rem;
            color: #fff;
        }
    }
}
