page-log-list {
    ion-content {
        h2 {
            display: inline;
            font-weight: 600;
            line-height: 6rem;
            font-size: 2rem;
            margin-left: 20px !important;

            &.no-margin {
                margin-left: 0 !important;
            }
        }

        h3 {
            font-weight: 400 !important;
            font-size: 1.8rem !important;
            color: #555 !important;
        }

        h4 {
            display: inline;
            font-weight: 400 !important;
            font-size: 1.3rem !important;
            color: #888 !important;
        }

        p {
            font-weight: 400 !important;
            font-size: 1.2rem !important;
            color: #c1c1c1 !important;
        }

        span.month {
            color: #9da0a1 !important;
            font-size: 1.6rem;
        }

        span {
            color: #ccc !important;
        }
    }

    ion-list {
        border: 1px solid rgba(0, 0, 0, .1) !important;
        margin: 0 10px 10px 10px !important;

        button {
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }

    ion-header::after {
        height: 0 !important;
    }

    ion-segment {
        background-color: color($colors, primary);

        ion-segment-button.segment-activated {
            border-bottom-width: 3px !important;
            border-color: color($colors, _shiny) !important;
        }
    }
}
